html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    display: flex;
    flex-flow: column;
    align-items: center;
}


#new-comment-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#new-comment-section>form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}


#display-comment-section {
    display: flex;
    flex-flow: column;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;
}

.page-nav {
    display: flex;
    gap: 2rem;
}

.comment-wrapper {
    max-width: 50rem;
    margin-bottom: 1rem;
}

[data-toggle-state="hidden"] {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.15s ease-out;
}

[data-toggle-state="expand"] {
    visibility: visible;
    max-height: 500px;
    transition: max-height 0.15s ease-in;
}

#search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}